<button (click)="for()">For</button><br>
<button (click)="object()">Object</button><br>
<button (click)="array()">Array</button><br>


<div class="depth0" id="div" value="depth0">
    ㅎㅇ
    <div class="depth1" id="div" value="depth1">
        ㅎㅇ
        <div class="depth2" id="div" value="depth2">
            ㅎㅇ
            <div class="depth3" id="div" value="depth3">
                ㅎㅇ
                <div class="depth4" id="div" value="depth4">
                    ㅎㅇ
                </div>
                <div class="depth4-1" id="div" value="depth4-1">
                    ㅎㅇㅎㅇ
                </div>
            </div>
        </div>
    </div>
</div>
<div class="depth1">
    ㅋㅋ
</div>
<button (click)="selector()">Selector</button>